/* Originals */
.originalsTitle {
  padding: 30px 0px 60px 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: Avenir-heavy;
  font-size: 2.7rem;
  letter-spacing: 1rem;
}

.originalsList {
  padding-left: 30px;
}

.originalsList h4 {
  font-weight: 200;
  font-family: Avenir-Heavy, sans-serif;
  font-size: 20px;
  padding-left: 5px;
}

.recommendationSection {
  margin: 20px 0px 20px 30px;
}
